# Untracked directories
**/.idea
**/.vscode
**/__pycache__
**/pipelines
**/onnx_models
**/old
**/pipeline_dataset
**/synthetic_dataset
**/experiments
**/.ipynb_checkpoints

# Untracked files
*.npy
*.onnx
*.docx
*.pkl
*.csv
